**Import Packages**

import numpy as np
import pandas as pd

In [110]:
pd.set_option('display.float_format', lambda x : '%.2f' % x)

**Assumptions**

In [111]:
current_year = '2024'
current_quarter = 'Q1'

**Import Data**

In [144]:
df = pd.read_excel(r'C:\Users\ygu\Documents\Mia Sample File.xlsx', 'Info')
quarter_dict = {'Q1': 1, 'Q2': 2, 'Q3': 3, 'Q4': 4}
df['Quarter'] = df['Quarter'].map(quarter_dict)
df.sort_values(by=['Year','Quarter'])
df.set_index(['Year','Quarter'])
df.head()

,Year,Quarter,Account Category Number,Account Description,Dept,Vendor,USD Net Change
0,2024,1,Legal Fees,Legal Fees,Administration,EEE,5113.64
1,2024,1,Legal Fees,Legal - CCG Corporate,Legal,E,-97.22
2,2024,1,Legal Fees,Legal - CCG Corporate,Legal,E,5.50
3,2024,1,Legal Fees,Legal - CCG Corporate,Legal,EEE,-56250.00
4,2024,1,Legal Fees,Legal fees,CLO,EEE,54.61

In [122]:
# df.index
df.describe()

         Year  USD Net Change
count 8982.00         8982.00
mean  2024.00        -1197.02
std      0.00        69616.02
min   2024.00     -6473929.14
25%   2024.00            0.71
50%   2024.00            3.42
75%   2024.00           14.69
max   2024.00       588539.01

**Data Anlytics**

In [145]:
grouped_change = df.groupby(['Year', 'Quarter','Dept', 'Vendor', 'Account Description'])['USD Net Change'].sum()
grouped_change

Year  Quarter  Dept            Vendor  Account Description
2024  1        Administration  A       Parking/validation/Public Transit/FSA         58.84
                                       Software License/Subscription                  0.64
                               AA      Software License/Subscription                  2.30
                                       Supplies - dining/kitchen                     14.14
                                       Supplies - office                            -18.10
                                                                                     ...
      2        Trading (NY)    I       Meals - Employee                               5.07
                                       Rent - office                                428.21
                                       Repairs, maintenance, utilities - building    40.23
                                       Software License/Subscription                -60.47
                                       Subscriptions and publications                 4.27
Name: USD Net Change, Length: 1581, dtype: float64

In [150]:
# yoy_change = grouped_change.unstack(level=[0,1]).pct_change(axis=1, fill_method='ffill')
yoy_change = grouped_change.unstack(level=[0,1])
yoy_change

Year                                                                 2024  \
Quarter                                                                 1
Dept           Vendor Account Description
Administration A      Parking/validation/Public Transit/FSA         58.84
                      Software License/Subscription                  0.64
               AA     Software License/Subscription                  2.30
                      Special Events/Party/Meetings                   NaN
                      Supplies - dining/kitchen                     14.14
...                                                                   ...
Trading (NY)   I      Meals - Employee                                NaN
                      Rent - office                              -1227.48
                      Repairs, maintenance, utilities - building     7.81
                      Software License/Subscription                313.62
                      Subscriptions and publications                 4.27

Year
Quarter                                                               2
Dept           Vendor Account Description
Administration A      Parking/validation/Public Transit/FSA       90.16
                      Software License/Subscription                1.93
               AA     Software License/Subscription                2.30
                      Special Events/Party/Meetings               31.78
                      Supplies - dining/kitchen                   49.40
...                                                                 ...
Trading (NY)   I      Meals - Employee                             5.07
                      Rent - office                              428.21
                      Repairs, maintenance, utilities - building  40.23
                      Software License/Subscription              -60.47
                      Subscriptions and publications               4.27

[962 rows x 2 columns]

In [151]:
sorted_change = yoy_change.sort_values(by=(2024, 2), ascending=False)
sorted_change

Year                                                                            2024  \
Quarter                                                                            1
Dept               Vendor Account Description
CESL               I      Advisory/ Service fee expense                     19814.44
BDC Advisors       I      Interest Expense                                   6903.58
CDL                E      Expenses of NCI in Consolidated Subsidaries            NaN
BDC Advisors       I      Professional fees-First Eagle                      3004.85
Aircraft           AA     Aircraft management fee - Gama (N111CC)           -4116.49
...                                                                              ...
SPAC               E      Expenses of NCI in Consolidated Subsidaries       -2921.88
Sepulveda          GGG    Tax preparation                                       2.37
Special Situations C      Regulatory, filling, registration, & license fees  -167.61
                   GGG    Tax preparation                                       2.84
Trading (LA)       I      Trading errors/losses                                 2.20

Year
Quarter                                                                            2
Dept               Vendor Account Description
CESL               I      Advisory/ Service fee expense                     39054.64
BDC Advisors       I      Interest Expense                                   6884.93
CDL                E      Expenses of NCI in Consolidated Subsidaries        5862.62
BDC Advisors       I      Professional fees-First Eagle                      3463.43
Aircraft           AA     Aircraft management fee - Gama (N111CC)            3074.44
...                                                                              ...
SPAC               E      Expenses of NCI in Consolidated Subsidaries            NaN
Sepulveda          GGG    Tax preparation                                        NaN
Special Situations C      Regulatory, filling, registration, & license fees      NaN
                   GGG    Tax preparation                                        NaN
Trading (LA)       I      Trading errors/losses                                  NaN

[962 rows x 2 columns]

**Pivot**

*Other G&A*

In [123]:
pivot1 = df.pivot_table(values='USD Net Change', index=['Vendor'], columns=['Dept', 'Year', 'Quarter'], aggfunc='sum', fill_value=0)
pivot1

Dept    Administration             Aircraft          BDC Advisors           \
Year              2024                 2024                  2024
Quarter             Q1          Q2       Q1       Q2           Q1       Q2
Vendor
A                59.49       92.10     0.00     0.00       120.51    87.97
AA               -1.66      103.33  2763.00 -6162.13         0.00     0.00
B                80.57       84.37     0.00     0.00       112.28    90.80
C                61.34       12.67     0.00     0.00         0.00     0.00
CC            -1738.46      174.84     0.00     0.00        13.85    12.90
CCC            1479.99     1527.79     0.00     0.00       273.77   290.39
D            -42136.02   -42848.23  1018.02  1018.02       407.61   323.04
DD               17.51       23.31     0.00     0.00        21.15    21.15
E               133.46       80.85     0.00     0.00         0.00     0.00
EEE            5123.73        0.00     0.00     0.00         0.00     0.00
F                 7.53    -1726.38     0.13     0.00         0.35     0.00
FF               36.00      501.86     0.00     0.00         0.00     0.00
FFF              84.73      118.18     0.00     0.00        36.36    -3.56
GGG              17.61        0.00     0.00     0.00         0.00     0.00
HHH              27.33        0.00     0.00     0.00         0.00     0.00
I          -7757800.77 -1661762.80     0.00     0.00     11215.07 11271.07
J                 0.00        0.00     0.00     0.00         0.00     0.00

Dept     BDC Inc.          Bank Loans         ... Sepulveda       \
Year         2024                2024         ...      2024
Quarter        Q1       Q2         Q1     Q2  ...        Q1   Q2
Vendor                                        ...
A         -856.82     0.00       0.00   0.00  ...      0.00 0.00
AA           0.00     0.00       0.00   0.00  ...      0.00 0.00
B            0.00     0.00     133.85  96.07  ...      0.00 0.00
C            0.00     0.00       0.00   0.00  ...      0.00 0.00
CC           0.00     0.00      13.48  13.18  ...      0.00 0.00
CCC          0.00     0.00       0.00   0.00  ...      0.00 0.00
D        -3948.24 -3230.41     100.51 106.62  ...      0.00 0.00
DD           0.00     0.00       0.00   0.00  ...      0.00 0.00
E            0.00     0.00       0.00   0.00  ...      0.00 0.00
EEE          0.00     0.00       0.00   0.00  ...      0.00 0.00
F            0.00     0.00       0.00   0.00  ...      0.00 0.00
FF           0.00     0.00      13.57  13.48  ...      0.00 0.00
FFF          0.00     0.00       0.00   9.09  ...      0.00 0.00
GGG          0.00     0.00       2.37   0.00  ...      2.37 0.00
HHH          0.00     0.00       0.00   0.00  ...      0.00 0.00
I       -15685.11   -19.31   -9061.14 384.76  ...      1.18 3.55
J            0.00     0.00       0.00   0.00  ...      0.00 0.00

Dept    Special Situations        Structure Products        Trading (LA)  \
Year                  2024                      2024                2024
Quarter                 Q1     Q2                 Q1     Q2           Q1
Vendor
A                    10.80   8.18               0.00   0.00       204.67
AA                    0.00   0.00               0.00   0.00         0.00
B                    16.62  11.46               0.00   0.00      2536.42
C                  -167.61   0.00               0.00   0.00         0.00
CC                    0.00   0.45               0.00   0.00         0.00
CCC                   0.00   0.00               0.00   0.00         0.00
D                     6.11   6.28               0.00   0.00        20.44
DD                    0.00   2.59               0.00   0.00         0.00
E                     0.00   0.00               0.00   0.00         0.00
EEE                   0.00   0.00               0.00   0.00         0.00
F                     0.00   0.00               0.00   0.00         3.59
FF                   12.17  12.17               0.00   0.00         3.31
FFF                   0.00   0.00               0.00   0.00         0.00
GGG                   2.84   0.00               0.00   0.00         0.00
HHH                   0.00   0.00               0.00   0.00         0.00
I                   -65.22 162.93             270.50 205.74      -430.39
J                     0.00   0.00               0.00   0.00         0.00

Dept            Trading (NY)
Year                    2024
Quarter      Q2           Q1     Q2
Vendor
A        196.19         0.32   0.97
AA         0.00         0.00   0.00
B       2552.22       489.15 394.71
C          0.00         0.00   0.00
CC        21.70         0.45   2.73
CCC        0.00         0.00   0.00
D         20.95       245.12 215.59
DD         0.00         0.00   0.00
E          0.00         0.00   0.00
EEE        0.00         0.00   0.00
F          2.45         0.00   1.59
FF         4.23        13.26  12.87
FFF        0.00         0.00   0.00
GGG        0.00         0.00   0.00
HHH        0.00         0.00   0.00
I        235.26      -646.54 696.26
J          0.00         0.00   0.00

[17 rows x 61 columns]

*Dept Forecast*

In [115]:
pivot2 = df.pivot_table(values='USD Net Change', index=['Dept'], columns=['Year', 'Quarter'], aggfunc='sum', fill_value=0)
pivot2

Year                                  2024
Quarter                                 Q1          Q2
Dept
Administration                 -7794547.60 -1703618.13
Aircraft                           3781.15    -5144.11
BDC Advisors                      12200.95    12093.77
BDC Inc.                         -20490.16    -3249.72
Bank Loans                        -8797.36      623.20
CDL                                5374.47    13500.55
CESL                            -592091.40  -615631.00
CLO                                 817.58     2601.30
Compliance                          603.77     1888.34
Executive Management: Founders    -1047.26      322.41
Finance                            1576.19     4978.66
High Yield Bonds                    -86.37     3718.42
Human Resources                     306.97     5067.28
IR                                -1226.90     1497.30
IT                                 -556.46     3214.30
Insurance Dedicated Fund              6.96       12.64
Legal                            -69518.16   -22164.41
Marketing                          3936.08     3498.68
Mezzanine                         -2478.48     7970.36
NT BDC Adm.                         537.94     1462.63
NT BDC Adv.                         309.42    -7077.11
Portfolio Administration          -7316.68     3055.94
Private Credit                      447.96      475.90
Research/Analytics (BL)               1.36      -24.09
Research/Analytics (HY)             101.23     3095.29
SPAC                              -2921.88        0.00
Sepulveda                             3.55        3.55
Special Situations                 -184.31      204.06
Structure Products                  270.50      205.74
Trading (LA)                       2338.05     3033.01
Trading (NY)                        101.76     1324.72

*Q vs Q*

In [116]:
QoQ = df.pivot_table(values='USD Net Change', index=['Dept'], columns=['Year', 'Quarter'], aggfunc='sum', fill_value=0)
QoQ['Variance'] = QoQ.iloc[:,1] - QoQ.iloc[:,0]
QoQ['Variance %'] = QoQ.iloc[:,2] / QoQ.iloc[:,0]
QoQ

Year                                  2024               Variance Variance %
Quarter                                 Q1          Q2
Dept
Administration                 -7794547.60 -1703618.13 6090929.47      -0.78
Aircraft                           3781.15    -5144.11   -8925.26      -2.36
BDC Advisors                      12200.95    12093.77    -107.18      -0.01
BDC Inc.                         -20490.16    -3249.72   17240.44      -0.84
Bank Loans                        -8797.36      623.20    9420.56      -1.07
CDL                                5374.47    13500.55    8126.08       1.51
CESL                            -592091.40  -615631.00  -23539.60       0.04
CLO                                 817.58     2601.30    1783.73       2.18
Compliance                          603.77     1888.34    1284.57       2.13
Executive Management: Founders    -1047.26      322.41    1369.66      -1.31
Finance                            1576.19     4978.66    3402.47       2.16
High Yield Bonds                    -86.37     3718.42    3804.79     -44.05
Human Resources                     306.97     5067.28    4760.31      15.51
IR                                -1226.90     1497.30    2724.20      -2.22
IT                                 -556.46     3214.30    3770.76      -6.78
Insurance Dedicated Fund              6.96       12.64       5.68       0.82
Legal                            -69518.16   -22164.41   47353.75      -0.68
Marketing                          3936.08     3498.68    -437.40      -0.11
Mezzanine                         -2478.48     7970.36   10448.84      -4.22
NT BDC Adm.                         537.94     1462.63     924.69       1.72
NT BDC Adv.                         309.42    -7077.11   -7386.54     -23.87
Portfolio Administration          -7316.68     3055.94   10372.62      -1.42
Private Credit                      447.96      475.90      27.94       0.06
Research/Analytics (BL)               1.36      -24.09     -25.45     -18.67
Research/Analytics (HY)             101.23     3095.29    2994.07      29.58
SPAC                              -2921.88        0.00    2921.88      -1.00
Sepulveda                             3.55        3.55       0.00       0.00
Special Situations                 -184.31      204.06     388.37      -2.11
Structure Products                  270.50      205.74     -64.76      -0.24
Trading (LA)                       2338.05     3033.01     694.95       0.30
Trading (NY)                        101.76     1324.72    1222.95      12.02

*Y vs Y*

In [117]:
YoY = df.pivot_table(values='USD Net Change', index=['Dept'], columns=['Year'], aggfunc='sum', fill_value=0)
# YoY['Variance'] = YoY.iloc[:,1] - YoY.iloc[:,0]
# YoY['Variance %'] = YoY.iloc[:,2] / YoY.iloc[:,0]
YoY

Year                                  2024
Dept
Administration                 -9498165.73
Aircraft                          -1362.95
BDC Advisors                      24294.72
BDC Inc.                         -23739.88
Bank Loans                        -8174.16
CDL                               18875.01
CESL                           -1207722.39
CLO                                3418.88
Compliance                         2492.11
Executive Management: Founders     -724.85
Finance                            6554.85
High Yield Bonds                   3632.06
Human Resources                    5374.25
IR                                  270.39
IT                                 2657.84
Insurance Dedicated Fund             19.60
Legal                            -91682.57
Marketing                          7434.76
Mezzanine                          5491.88
NT BDC Adm.                        2000.57
NT BDC Adv.                       -6767.69
Portfolio Administration          -4260.75
Private Credit                      923.86
Research/Analytics (BL)             -22.73
Research/Analytics (HY)            3196.52
SPAC                              -2921.88
Sepulveda                             7.10
Special Situations                   19.76
Structure Products                  476.24
Trading (LA)                       5371.06
Trading (NY)                       1426.48

**Export To File**

In [118]:
with pd.ExcelWriter(r'C:\Users\ygu\Documents\Mia Output File.xlsx') as writer:
    QoQ.to_excel(writer, sheet_name='Q vs Q')
    YoY.to_excel(writer, sheet_name='Y vs Y')
    pivot2.to_excel(writer, sheet_name='Dept Forecast')
    pivot1.to_excel(writer, sheet_name='Other G&A')

In [119]:
df.iloc[:,4]

0       Administration
1                Legal
2                Legal
3                Legal
4                  CLO
             ...
8977      BDC Advisors
8978      BDC Advisors
8979      BDC Advisors
8980      BDC Advisors
8981      BDC Advisors
Name: Dept, Length: 8982, dtype: object

In [120]:
df.plot(df.iloc[:,4], 'USD Net Change')

KeyError: "None of [Index(['Administration', 'Legal', 'Legal', 'Legal', 'CLO', 'Mezzanine', 'CESL',\n       'Finance', 'Finance', 'Finance',\n       ...\n       'BDC Advisors', 'BDC Advisors', 'BDC Advisors', 'BDC Advisors',\n       'BDC Advisors', 'BDC Advisors', 'BDC Advisors', 'BDC Advisors',\n       'BDC Advisors', 'BDC Advisors'],\n      dtype='object', length=8982)] are in the [columns]"

In [ ]:
pivot2.plot.line()